.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f5f6fa;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 240px;
}

.content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}

